.AllColorsContainer{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #375b67;
    font-weight: bold;
    font-size: 1.1rem;
}

.color{
    padding: 0.8rem;
    width: 150.4px;
    height: 100px;
}

.color:hover{
    border: 1px solid black;
    cursor: pointer;
}

@media (max-width:768px) {
    .color{
        width: 153.6px;
    }
}

@media (max-width:460px) {
    .color{
        width: 50%;
    }
}

.copiedAlert{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

}